* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Arial", "sans-serif";
  body{
    overflow-x: hidden;
    .app{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
    }
  }
}
