* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Arial", "sans-serif";
  body{
    overflow-x: hidden;
    .container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
    }
  }
}

// global products class
.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0 2.5rem 0;
  .item{
    width: 48%;
    margin-bottom: 1rem;
    border: 1px solid rgba(0,0,0,.3);
    .price{
      padding: .5rem;
      p{font-size: 1.4rem; margin-bottom: .5rem;}
      span{font-size: 1.4rem;}
    }
    img {width: 100%;}
  }
}
.create-account,
.forgotten-password,
.login{
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  h1{text-align: center; font-size: 3rem; width: 90%; margin: 0 auto .5rem auto;}
  form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    label{font-size: 2rem; padding: 1.5rem 0 1rem 0;}
    input{font-size: 1.8rem; padding: .5rem 1rem;}
    button{
      margin: 1.5rem 0; 
      padding: 0.5rem 1rem;
      font-size: 2rem;
      background-color: #fff;
      border: 1px solid #aaa;
      }
  }
}

// footer
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  margin-top: 3rem;
  a {
    text-transform: uppercase;
    color: #ccc;
    text-decoration: none;
    padding: 1.5rem 0.5rem;
    font-size: 1.2rem;
  }
}

// nav
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .searcher{
    &.active{
      transform: translate(0%, 100%) scale(1);
    }
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    border: 1px solid #aaa;
    padding: .5rem;
    transform: translate(100%, 100%) scale(0);
    transition: .3s ease;
    input, a{font-size: 1.6rem; padding: .4rem .8rem;}
    input{width: 70%; border: 1px solid #555;}
    a{
      width: 30%; 
      display: block;
      text-transform: uppercase; 
      letter-spacing: 2px; 
      text-decoration: none;
      background-color: #555;
      color: #fff;
      text-align: center;
      line-height: 3rem;
      }
  }
  .hamburger {
    display: flex;
    position: relative;
    z-index: 999;
    flex-direction: column;
    width: 5.5rem;
    padding: 1.5rem 1rem;
    .bar {
      transition: 1s;
      &.active {
        background-color: #fff;
      }
      width: 100%;
      height: 0.4rem;
      margin-bottom: 0.4rem;
      background-color: #222;
      border-radius: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .managment {
    display: flex;
    a,
    p {
      text-decoration: none;
      font-size: 1.9rem;
      padding: 1rem;
      color: #222;
    }
  }
  .menu {
    &.active {
      transform: translateX(0%);
    }
    position: fixed;
    display: flex;
    z-index: 89;
    top: 0;
    left: 0;
    transition: .3s ease;
    transform: translateX(-100%);
    background-color: #222;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      color: #fff;
      padding: 1.5rem;
      font-size: 2.8rem;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

// home
.home {
  h1{font-size: 2rem; letter-spacing: 1px; margin-bottom: 1rem;}
  .welcome-picture {
    img {width: 100%;}
  }
  .new-collection {
    margin: 1.5rem 0 2rem 0;
    padding: 0.5rem;
    .gallery {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      img {width: 49%; margin: 0.3rem 0;}
    }
  }
  .promotion {
    background: linear-gradient(to bottom, rgba(0, 6, 15, 0.6), rgba(0, 0, 0, 0.4)),
    url("https://cdn.pixabay.com/photo/2018/01/29/17/01/beautiful-3116587_960_720.jpg") ;
    height:400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    h2{font-size: 2.2rem; color: #ddd; margin-bottom: 1.5rem;}
    p{font-size: 1.6rem; color: #ddd;}
  }
  .get-inspired {
    margin-top: 2.5rem;
    h1{padding: 0 .5rem;}
    .slider {
      display: flex;
      align-items: center;
      justify-content: center;
      img {width: 85%;}
    }
  }
}

// cloths 
.cloths {
  h1 {
    margin: 1.5rem 0 1rem 0;
    font-size: 2.8rem;
    text-align: center;
  }
  .filter {
    display: flex;
    border-top: 1px solid rgba(0,0,0,.4);
    border-bottom: 1px solid rgba(0,0,0,.4);
    justify-content: space-between;
    div {display: flex;}
    p {padding: 1rem; font-size: 1.8rem;}
  }
  .load-more {
    font-size: 1.6rem;
    text-transform: uppercase;
    border: 1px solid #222;
    width: 14rem;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
  }
}

// sales
.sales{
  h1{
    text-align: center;
    margin: 1.5rem 0 1rem 0;
    font-size: 2.8rem;
  }
  .products{margin: 2rem 0 0 0;}
}

// about
.about{
  h2{font-size: 2.2rem; margin-bottom: 1rem;}
  p{font-size: 1.6rem; line-height: 1.4; text-align: justify; letter-spacing: 1px;}
  .quick-nav{
    background-color: #ddd;
    margin: 2rem 0 1rem 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    p{
      font-size: 1.6rem;
      text-transform: uppercase;
      padding: 1rem;
    }
  }
  .who,
  .where,
  .why{padding: 1.5rem .7rem;}
  .where{
    .location{display: flex; align-items: center;}
    .contact{
      .tele,
      .mail{display: flex;}
      h2{font-size: 2rem; margin-top: 1rem;}
    }
  }
  .map{
    background-color: #444;
    height: 35rem;
    color: #fff;
  }
}

// cart
.cart{
  h1{font-size: 2.8rem; text-align: center;  margin: 3rem 0;}
  .progress{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    .order,
    .delivery,
    .payment{
      position: relative;
      &.active{
        background-color: #000;
        color: #fff;
        border-radius: 50%;
      }
      p{
        position: absolute;
        left: 50%; bottom: -2rem;
        transform: translateX(-50%);
        font-size: 1.5rem;
        color: #000;
      }
      span{font-size: 2rem;  margin-left: .1rem;}
      div{
        border: 1px solid black;
        border-radius: 50%;
        width: 4rem; height: 4rem;
        line-height: 3.8rem;
        text-align: center;
      }
    }
    .line{background-color: #222; width: 5rem; height: 2px;}
  }
  .in-cart{
    .entities{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #000;
      padding: .5rem;
      p{font-size: 1.8rem;}
      div{display: flex; flex-basis: 50%; justify-content: space-between;}
    }
    .item{
       display: flex;
       padding: .5rem;
       justify-content: space-between;
       border-bottom: 1px solid rgba(0,0,0,.4);
      .about-item{
       flex-basis: 30%;
       display: flex;
       align-items: center;
        img{width: 70%;}
        .description{padding: 1rem .5rem; font-size: 1.5rem;}
      }
      .amounts{
        display: flex; 
        flex-basis: 50%; 
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        font-size: 1.6rem;
      }
    }
  }
  .total{
    display: flex;
    justify-content: flex-end;
    margin: 2rem .5rem 1rem .5rem;
    p{font-size: 1.8rem;}
    .place-order{
      border: 1px solid black;
      text-align: center;
      padding: .5rem 1rem;
      font-size: 1.8rem;
      margin-top: .5rem;
      letter-spacing: 1px;
    }
  }
}

// faq
.faq{
  h1{text-align: center; font-size: 2.8rem; letter-spacing: 2px; margin: 2.5rem 0 1rem 0;}
  .question{
    padding: 1rem .7rem;
    line-height: 1.4;
    h2{font-size: 1.6rem;}
    p{font-size: 1.4rem; letter-spacing: 1px; text-align: justify; margin-top: .5rem; }
  }
  .new-question{
    margin-top: 2rem;
    padding: 0 1rem;
    h2{font-size: 1.8rem; letter-spacing: 1px; text-align: center;}
    p{font-size: 1.5rem; letter-spacing: 1px; text-align: center;}
    form{
      display: flex;
      flex-direction: column;
      width: 70%;
      margin: .5rem auto 0 auto;
      label{font-size: 1.6rem; padding: .7rem 0 .3rem 0;}
      input,
      textarea{padding: .4rem .8rem; font-size: 1.6rem;}
      button{text-transform: uppercase; padding: .5rem 1rem; font-size: 1.6rem; letter-spacing: 2px; background-color: #fff; border: 1px solid #aaa; margin-top: 1rem;}
    }
  }
}

// shipping & returns
.shipping-returns{
  padding: 0 .7rem;
  h1{text-align: center; font-size: 2.8rem; letter-spacing: 1px; margin: 2.5rem 0 1rem 0;}
  h2{font-size: 1.6rem; text-transform: uppercase; letter-spacing: 1px; padding: 1.5rem 0 .5rem 0;}
  p{font-size: 1.4rem; letter-spacing: 1px; text-align: justify; line-height: 1.4;}
  .costs{
    span{display: block; font-size: 1.4rem; padding: .3rem 0;}
    p{margin-top: .5rem;}
  }
}

// terms & condition
.terms-condition{
  padding: 0 .7rem;
  h1{text-align: center; font-size: 2.8rem; letter-spacing: 1px; margin: 2.5rem 0 1.5rem 0;}
  h2{font-size: 1.6rem; text-transform: uppercase; letter-spacing: 1px; padding: 1.5rem 0 .5rem 0;}
  p{font-size: 1.4rem; letter-spacing: 1px; text-align: justify; line-height: 1.4;}
  .use-terms,
  .sale-terms{
    margin-bottom: 1rem;
  }
}